.couple{
    overflow: hidden;
    text-align: center;
    margin: 1rem 0;
    background: $primary-colour;
    padding: 2rem 1rem;
    border-radius: $item-radius;
    position: relative;

    &:first-child{
        margin-top: 0;
    }

    .couple-view{
        overflow: hidden;
        float: left;
        width: 100%;
        .partner{
            max-width: 38%;
        }
    }

    .couple-edit{
        width: 100%;
        .partner-input{
            width: 38%;
        }
    }

    .couple-content{
        float: left;
        display: inline-block;
    }
    .partner, .partner-actions{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #FFF;
    }
    .divider{
        color: #FFF;
        margin: 0 .25rem;
    }

    .couple-actions{
        float: right;
        .action{
            background: transparent;
            color: #FFF;
            border: none;
        }
    }
}

.voter-list{
    .couple{
        background: #FFF;
        border: 1px solid $primary-colour;
        margin: 1rem;
        .partner{
            color: $primary-colour;
            display: inline-block;
            vertical-align: middle;
        }
        .divider{
            color: $primary-colour;
            display: inline-block;
            vertical-align: middle;
        }
    }
}
