.comp-list{

    @media only screen and (min-width: 700px) {
        width: 75%;
        min-width: 100rem;
        margin: 10rem auto;
    }

    .list-group-item{
        overflow: hidden;
        margin: 0 1rem;
        background: $secondary-colour;
        border: none;
        color: #FFF;


        &.closed{
            background: #FFF;
            border-left: 1px solid $tertiary-colour;
            border-right: 1px solid $tertiary-colour;
            border-top: none;
            border-bottom: 1px solid $tertiary-colour;

            &:first-child{
                border-top: 1px solid $tertiary-colour;
            }
            .comp-name{
                color: $tertiary-colour;
            }
            .comp-action{
                color: $tertiary-colour;

            }
        }
        &.current{
            background: $tertiary-colour;
            .comp-name{
                color: #FFF;
            }
            .comp-action{
                color: #FFF;

            }

        }
        .comp-name{
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            padding: .5rem;
        }
        .comp-actions{
            float: right;

            .comp-action{
                background: transparent;
                border: none;
                padding: .5rem;
                font-size: 1.5em;
            }
        }
    }
}

.add-comp{
    margin: 1rem;
    text-align: center;

    &.addable{
        border: 1px dashed $secondary-colour;
    }
    .toggle-form{
        background: transparent;
        border: none;
        color: #337ab7;
        display: inline-block;
        width: 100%;
        height: 5rem;
        padding: 0;
    }
    .add-form{
        text-align: left;
        .submit-action{
            display: inline-block;
            width: 100%;
            height: 4rem;
        }
    }
    .form-row{
        margin: 1rem 0;
    }
}
