<div class="main-content login-area" ng-show="!loginController.Loading">
    <form class="login-form">
        <div class="form-row">
            <label class="control-label">Username:</label>
            <input type="text" class="form-control" ng-model="loginController.Form.Username" />
        </div>
        <div class="form-row">
            <label class="control-label">Password:</label>
            <input type="password" class="form-control" ng-model="loginController.Form.Password" />
        </div>
        <div class="form-row">
            <button class="btn btn-primary" ng-click="loginController.Login()">Login</button>
        </div>
    </form>
</div>
<div class="main-content" ng-show="loginController.Loading">
    <img class="loading" src="/rcs-voter/images/loading.gif"/>
</div>
